@{
    ViewBag.Title = "Contact Code the Way";
}
<div class="row">
    <hr />
    <hr />
</div>

<h1 class="text-center">@ViewBag.Title</h1>

<div class="row">
    <hr />
    <hr />
</div>
<div class="row">
    <div class="col-sm-3">
        <img src="https://media.licdn.com/dms/image/C4E03AQFwPEHoMsLLDg/profile-displayphoto-shrink_200_200/0?e=1579737600&v=beta&t=0rGcAsvRG0Gw5HSZs4d8w_lEc9lVRHaqhpddLsgGDmA" />
    </div>
    <div class="col-md-9">
        <strong>Brad Zapecki - Group Founder</strong>
        <p>President and Director of Octavian Technology</p>
        <p>
        @Html.ActionLink("b.zapecki@codetheway.org", "mailto:b.zapecki@codetheway.org")
        </p>
        <p>
        @Html.ActionLink("LinkedIn/BradZapecki", "https://www.linkedin.com/in/bradzepecki")
        </p>
    </div>
</div>
<div class="row">
    <hr />
    <hr />
</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/Images/RyanBennettSmaller.png" />
    </div>
    <div class="col-md-9">
        <strong>Ryan Bennett - Program Manager</strong>
        <p>SafeNet Consulting</p>
       <p>@Html.ActionLink("r.bennett@codetheway.org", "mailto:r.bennett@codetheway.org") </p>
       <p>
       @Html.ActionLink("LinkedIn/RyanBennett", "https://www.linkedin.com/in/ryan-bennett-466b545")
       </p>
    </div>

</div>
<div class="row">
    <hr />
    <hr />
</div>

<div class="row">
    <div class="col-sm-3">
        <img src="https://media.licdn.com/dms/image/C4D03AQFQEWg7Rp2hyQ/profile-displayphoto-shrink_200_200/0?e=1579737600&v=beta&t=vyAMdzigeCEBlEkD_mDJO9fPntrYbGsv8FKdEwe08ds" />
    </div>
    <div class="col-sm-9">
        <strong>Ryan Osterberg - Education Manager</strong>
        <p>
            Brookfield Central High School Computer Science Teacher
        </p>
        <p>
        @Html.ActionLink("r.osterberg@codetheway.org", "mailto:r.osterberg@codetheway.org ")
        </p>
        <p>
        @Html.ActionLink("LinkedIn/RyanOsterberg", "https://www.linkedin.com/in/ryan-osterberg-b8305316")
        </p>
    </div>
</div>
