@{
    ViewBag.Title = "Donor";
}

<h1>Donor Application</h1>
<hr />
<h3>Contact Info</h3>
<hr />
@using (Html.BeginForm("Create", "FinancialDonor"))
{
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.Label("FirstName", "First Name")
            @Html.Editor("FirstName", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("FirstName", "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.Label("LastName", "Last Name")
            @Html.Editor("LastName", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("LastName", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-9">
            @Html.Label("Email")
            @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-3">
            <label for="DonorType">Donor Type</label>
            <select class="form-control" id="DonorType" onchange="switchPost(this.options[this.selectedIndex].text)">
                <option></option>
                <option>Financial</option>
                <option>Facilities</option>
                <option>Volunteer</option>
            </select>
        </div>
    </div>

    <div id="dynamicForm"></div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
}

<div id="Financial" hidden>
    <h3>Financial</h3>
    <hr />
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.Label("EstAmt", "Estimated Amount")
            @Html.Editor("EstAmt", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("EstAmt", "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @model CodeTheWay.Models.FinancialDonor
            @Html.LabelFor(model => model.CurrentFrequency)
            @Html.EnumDropDownListFor(model => model.CurrentFrequency, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CurrentFrequency, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div id="Facilities" hidden>
    <h3>Facilities / Tech</h3>
    <hr />
    <div class="form-group">
        @Html.Label("Company")
        @Html.Editor("Company", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessage("Company", "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.Label("Offerings")
        @Html.Editor("Offerings", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessage("Offerings", "", new { @class = "text-danger" })
    </div>
</div>

<div id="Volunteer" hidden>
    <h3>Volunteer</h3>
    <hr />
    <div class="form-group">
        @Html.Label("Company")
        @Html.Editor("Company", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessage("Company", "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.Label("Offerings")
        @Html.Editor("Offerings", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessage("Offerings", "", new { @class = "text-danger" })
    </div>
</div>

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>

<script type="text/javascript">
    const form = document.querySelector('form');

    function switchPost(name) {
        if (name == "") return;
        let curForm = form.querySelector('#dynamicForm');
        curForm.innerHTML = document.documentElement.querySelector(`#${name}`).innerHTML;
        form.action = `/${name == "Facilities" ? "FacilitiesTech" : name}Donor/Create`
    }
</script>