<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Code The Way</title>
    @*<link rel="stylesheet" href="~/Content/flatly.min.css" media="all" />
        <link rel="stylesheet" href="~/Content/Site.css" media="all" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container">
            @Html.ActionLink("Code The Way", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <div class="navbar-nav navbar-right ml-auto">
                    @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Projects", "Projects", "Home", null, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-item nav-link" })
                    @*<div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Interested?
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @Html.ActionLink("Students", "Create", "StudentApplication", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Volunteers", "Create", "VolunteerDonor", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("NPOs", "Create", "NPOApplication", null, new { @class = "dropdown-item" })
                            </div>
                        </div>*@
                    @Html.ActionLink("Students", "Create", "StudentApplication", null, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Volunteers", "Create", "VolunteerDonor", null, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("NPOs", "Create", "NPOApplication", null, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Donate Now", "Create", "FinancialDonor", null, new { @class = "nav-item nav-link text-light" })
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content my-3">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Code The Way</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
