@model IEnumerable<CodeTheWay.Models.NPOApplication>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NPOMission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NPOVision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemsAndDesires)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NPOMission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NPOVision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemsAndDesires)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
