@model CodeTheWay.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    @Html.ActionLink("Student Applications", "Index", "StudentApplication")<br />
    @Html.ActionLink("NPO Applications", "Index", "NPOApplication")<br />
    @Html.ActionLink("Donations", "Index", "FinancialDonor")<br />
    @Html.ActionLink("Volunteer Applications", "Index", "VolunteerDonor")
</div>
